h1 { font-weight: bolder; 
  font-size: 3.5em;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

    
    body{ animation: animate 5000ms linear infinite;
      
     width: 600px; 
     margin: 0 auto; 
     margin-top: 50px;     
     text-align: center; 
     font-family: 'Helvetica Neue', arial; 
     font-weight: 100;
     background: radial-gradient(ellipse at top, #c46feb, transparent),
     radial-gradient(ellipse at bottom, #36e6ec, transparent);
    
   }
   @keyframes animate
{
  0%,100%{color: #fff; filter: blur(2px);
 text-shadow: 0 0 10px #00b3ff}
 50%{color: #36e6ec; filter: blur(.5px);}
  25%,95%{color: #111;filter: blur(0px);}


}
    
    div.eightball {
      background-color: black;
      border: 1px solid black;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      margin: 0 auto;
      margin-bottom: 30px;
      margin-top: 30px;  
      
    }
    
   
    div.answer{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background-color: #333;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 50%;
      width: 50%;
      height: 50%;
      margin: 25% auto;
      animation-name: myAnim;
      animation-duration: 5000ms;  
      animation-iteration-count: infinite;
    }
    @keyframes myAnim {
0%{background-color: rgb(16, 179, 255)}
15%{background-color: rgb(188, 236, 236)}
30%{background-color: dodgerblue}
75%{background-color: silver}   
100%{background-color: blue}
}

    p#eight {
      text-align: center;
      font-size: 5em;
      margin: 20% auto;
      color: white;
    }
    
    p#answer {
      padding: 23px;
      color: lightblue;
      letter-spacing: 2px;
      font-size:18px;
    }


    
    
    #question {
      margin: 20px;
      padding: 10px;
      width: 400px;
      font-size:22px;
    }
    
    #info {
      font-size: 1.5em;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
    }
  


   
   